@import "reset.css";
@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Kdam Thmor Pro', sans-serif;
    background-color: #353D4D;
}
body>div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 650px;
    height: 620px;
}

.today_weather{
    width: 330px;
    height: 500px;
    border-radius: 20px;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    /* background-image: url(../img/sunnyMorning.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    
    
}

.today_weather__summary{
    margin-left: 25px;
    position: absolute;
    bottom: 20px;
    right: 20px;
}
.today_weather__summary__icon{
    width: 50px;
    height: 50px;
}
.today_weather__summary__temperature{
    font-size: 75px;
    font-weight: bold;
}
.today_weather__summary__weather{
    font-size: 24px;
    font-weight: bold;
}
.today__summary{
    margin: 20px;
    margin-bottom: 140px;
    position: relative;   
}
.day{
    font-size: 30px;
    font-weight: bold;
}
.date{
    margin-bottom: 10px;
}
.location{
    line-height: 20px;
    font-size: 14px;
}

.week_weather{
    width: 300px;
    height: 450px;
    border-radius: 20px;
    background-color: #232930;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;

}
.week_weather ul{
    display: flex;
    height: 150px;
    margin: 60px 20px 30px 20px;
    justify-content: center;
    align-items: stretch;
    
}
.week_weather ul>li{
    width: 25%;
    height: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-weight: bold;
}
.week_weather ul>li:nth-child(1){
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
    color: #232930;
}
.week_weather__text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 20px;
}

.week_weather__text>span:nth-child(1){
    font-weight: bold;
}
.week_weather__text>span:nth-child(2){
    opacity: 0.6;
}
.week_weather__text:nth-child(1){
    margin-top: 40px;
}
.week_weather__change_btn{
    background: linear-gradient(135deg,#84EBEE,#8856c4);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
    width: 88%;
    border-radius: 20px;
    height: 40px;
    text-align: center;
    margin: 0px 6%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    transition: 0.5s;
}
.week_weather__change_btn:hover{
    width: 92%;
    height: 44px;
    margin: 0px 4%;
    font-weight: bold;
}
